* {
    margin: 0;
    padding: 0;
}

.header {
    height: 50px;
    background-color: rgb(50, 59, 76);
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link{
    color: white;
    margin: 15px;
}

#login {
    text-align: right;
}


.forms div {
    float: left;
}


.form1 {
    padding-left: 50px;
}


label {
    display: block;
    padding-top: 20px;
    font-size: larger;
}

input {
    width: 80%;
    padding: .5em;
}

textarea {
    width: 80%;
    padding: .5em;
}

button{
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}